<!DOCTYPE html>
<html>
	<head>
		<title>EnduroCMS</title>
		<link rel="stylesheet" href="assets/css/main.css">
		<style type="text/css"></style>
	</head>
	<body>
		<p>Hey {{greeting}}</p>
		<p>I went to {{place}}</p>
		<p>and ate a huge {{food}}</p>
		{{>end}}
	</body>
</html>