
<div class="padding">
	<h5 class="_300 margin">Header style</h5>
	<div class="white r box-shadow-z0 m-b navbar-md">
		<div ui-include="'views/blocks/navbar.0.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b navbar-md">
		<div ui-include="'views/blocks/navbar.1.html'"></div>
	</div>
  	<div class="white r box-shadow-z0 m-b navbar-md">
		<div ui-include="'views/blocks/navbar.2.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b navbar-md">
		<div ui-include="'views/blocks/navbar.3.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b navbar-md">
		<div ui-include="'views/blocks/navbar.4.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b navbar-md">
		<div ui-include="'views/blocks/navbar.5.html'"></div>
	</div>
	<p class="m-y-lg padding"></p>
</div>
