<div class="padding">
  <div class="row m-b">
    <div class="col-sm-6">
      <h6 class="m-b">Nav</h6>
      <div class="m-b-lg">
        <ul class="nav m-b">
          <li class="nav-item">
            <a class="nav-link" href>
              Pages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href>UI Kits</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link">
              Components
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href>
              Mail
            </a>
          </li>
        </ul>
        <div class="nav">
            <a class="nav-link" href>
              Pages
            </a>
            <a class="nav-link"  href>UI Kits</a>
            <a href class="nav-link">
              Components
            </a>
            <a class="nav-link" href>
              Mail
            </a>
        </div>
      </div>
      <h6 class="m-b">Nav Pills</h6>
      <div class="m-b">
        <div class="clearfix m-b nav-active-success">
          <ul class="nav nav-pills" ui-nav>
            <li class="nav-item active">
              <a class="nav-link" href>
                Pages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href>UI Kits</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link">
                Components
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                Mail
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix m-b nav-active-info">
          <ul class="nav nav-pills nav-sm" ui-nav>
            <li class="nav-item">
              <a class="nav-link" href>
                Pages
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link"  href>UI Kits</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link">
                Components
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                Mail
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix m-b nav-active-dark">
          <ul class="nav nav-pills nav-xs" ui-nav>
            <li class="nav-item">
              <a class="nav-link" href>
                Pages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href>UI Kits</a>
            </li>
            <li class="nav-item active">
              <a href class="nav-link">
                Components
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                Mail
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix m-b nav-active-white">
          <ul class="nav nav-pills nav-sm nav-rounded" ui-nav>
            <li class="nav-item active">
              <a class="nav-link" href>
                Pages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href>UI Kits</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link">
                Components
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href>
                Mail
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h6 class="m-b">Nav stacked</h6>
      <div class="m-b nav-active-info">
        <ul class="nav nav-pills nav-stacked" ui-nav>
          <li class="nav-item active">
            <a class="nav-link" href>
              <span class="pull-right"><span class="label label-sm info">NEW</span></span>
              Pages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href>UI Kits</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link auto">
              <span class="pull-right text-muted m-r-xs">
                <i class="fa fa-plus inline"></i>
                <i class="fa fa-minus none"></i>
              </span>
              Components
            </a>
            <ul class="nav nav-sub text-sm">
              <li class="nav-item">
                <a class="nav-link" href><span class="fa fa-angle-right fa-fw text-muted"></span> Arrow</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href><span class="fa fa-angle-right fa-fw text-muted"></span> Button</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href><span class="fa fa-angle-right fa-fw text-muted"></span> Colors</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href>
              <span class="pull-right"><span class="label success">8</span></span>
              Mail
            </a>
          </li>
        </ul>
      </div>

      <h6 class="m-b">Nav border</h6>
      <div class="row">
        <div class="col-sm-6">
          <div class="nav-active-border b-info left box">
            <ul class="nav nav-sm">
              <li class="nav-item">
                <a class="nav-link active" href>
                  Pages
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href>
                  UI Kits
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href>
                  Mail
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="nav-active-border b-success left right box">
            <ul class="nav nav-sm">
              <li class="nav-item">
                <a class="nav-link block active" href>
                  Pages
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link block"  href>
                  UI Kits
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link block" href>
                  Mail
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="nav-active-border b-primary top box">
        <div class="nav nav-md">
          <a class="nav-link" href>
            Pages
          </a>
          <a class="nav-link"  href>
            UI Kits
          </a>
          <a class="nav-link" href>
            Mail
          </a>
        </div>
      </div>
      <div class="nav-active-border b-warning bottom box">
        <div class="nav nav-md">
          <a class="nav-link" href>
            Pages
          </a>
          <a class="nav-link"  href>
            UI Kits
          </a>
          <a class="nav-link" href>
            Mail
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h6 class="m-b">Nav Tabs</h6>
    <div class="row">
      <div class="col-sm-6">
        <div class="b-b nav-active-bg">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab1">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab2">Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab3">UI Kits</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn active text-muted" id="tab1">
            Pages
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab2">
            Components
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab3">
            UI kits
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab4">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab5">Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab6">UI Kits</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn text-muted" id="tab4">
            Pages
          </div>
          <div class="tab-pane animated fadeIn text-muted active" id="tab5">
            Components
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab6">
            UI kits
          </div>
        </div>
      </div>
    </div>

    <h6 class="m-b">Breadcrumb</h6>
    <div class="m-b">
      <ol class="breadcrumb">
        <li class="active">Home</li>
      </ol>
      <ol class="breadcrumb">
        <li><a href>Home</a></li>
        <li class="active">Library</li>
      </ol>
      <ol class="breadcrumb">
        <li><a href>Home</a></li>
        <li><a href>Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
    <h6>Pagination</h6>
    <div class="m-b">
      <nav>
        <ul class="pagination">
          <li>
            <a href aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li><a href>1</a></li>
          <li><a href>2</a></li>
          <li><a href>3</a></li>
          <li><a href>4</a></li>
          <li><a href>5</a></li>
          <li>
            <a href aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav>
        <ul class="pagination">
          <li class="disabled">
            <a href aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="active">
            <a href>1 <span class="sr-only">(current)</span></a>
          </li>
          <li><a href>2</a></li>
          <li><a href>3</a></li>
          <li><a href>4</a></li>
          <li><a href>5</a></li>
          <li>
            <a href aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav>
        <ul class="pagination pagination-sm">
          <li>
            <a href aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li><a href>1</a></li>
          <li><a href>2</a></li>
          <li><a href>3</a></li>
          <li>
            <a href aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav>
        <ul class="pager">
          <li><a href>Previous</a></li>
          <li><a href>Next</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="pager">
          <li class="pager-prev disabled"><a href>Older</a></li>
          <li class="pager-next"><a href>Newer</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
