
<div class="padding">
	<h5 class="_300 margin">Aside style</h5>
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<nav class="navside white r box-shadow-z0 m-b">
				<div ui-include="'views/blocks/aside.0.html'"></div>
			</nav>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b">
				<div ui-include="'views/blocks/aside.1.html'"></div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b">
				<div ui-include="'views/blocks/aside.2.html'"></div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b">
				<div ui-include="'views/blocks/aside.3.html'"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<div class="navside white r box-shadow-z0 m-b nav-center" layout="column" style="height: 680px">
				<div ui-include="'views/blocks/aside.0.html'"></div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 hidden-md-down">
			<div class="row">
				<div class="col-xs-6">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-expand show-text w-xs" layout="column" style="height: 680px">
						<div ui-include="'views/blocks/aside.0.html'"></div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown show-text w-xs" layout="column" style="height: 680px">
						<div ui-include="'views/blocks/aside.2.html'"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3 hidden-md-down">
			<div class="row">
				<div class="col-xs-4">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-expand" layout="column" style="height: 680px">
						<div ui-include="'views/blocks/aside.0.html'"></div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown" layout="column" style="height: 680px">
						<div ui-include="'views/blocks/aside.1.html'"></div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="navside white r box-shadow-z0 m-b hover-top folded nav-dropdown" layout="column" style="height: 680px">
						<div ui-include="'views/blocks/aside.2.html'"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<div class="white r box-shadow-z0 b">
  				<div ui-include="'views/blocks/widget.apps.html'"></div>
			</div>
		</div>
	</div>
</div>
