
<div class="padding">
	<h5 class="_300 margin">Footer style</h5>
	<div class="white r box-shadow-z0 m-b p-md">
		<div ui-include="'views/blocks/footer.0.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b p-md">
		<div ui-include="'views/blocks/footer.1.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b p-md">
		<div ui-include="'views/blocks/footer.2.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b p-md">
		<div ui-include="'views/blocks/footer.3.html'"></div>
	</div>
	<div class="white r box-shadow-z0 m-b p-md">
		<div ui-include="'views/blocks/footer.4.html'"></div>
	</div>
</div>
