<div class="padding">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <h4 class="m-a-0 m-b-sm text-md">Quick support</h4>
      <div class="m-b" id="accordion">
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm">
            <span class="pull-right label text-sm">3214</span>
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_1">
              Q: How to create an icon like the demo app
            </a>
          </div>
          <div id="c_1" class="collapse in">
            <div class="box-body">
              <p class="text-sm text-muted"><span class="text-md pull-left w-32 m-r rounded success">A</span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, <br><br>raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </p>
            </div>
          </div>
        </div>
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm">
            <span class="pull-right label text-sm">430</span>
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_2">
              Q: How to build my custom color
            </a>
          </div>
          <div id="c_2" class="collapse">
            <div class="box-body">
              <p class="text-sm text-muted"><span class="text-md pull-left w-32 m-r rounded info">A</span> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
          </div>
        </div>
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm">
            <span class="pull-right label text-sm">230</span>
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_3">
              Q: What is the app requriements
            </a>
          </div>
          <div id="c_3" class="collapse">
            <div class="box-body">
              <span class="text-md pull-left w-32 m-r rounded warning">A</span> 
              <p class="text-sm text-muted clear">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
          </div>
        </div>
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm">
            <span class="pull-right label text-sm">49</span>
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_4">
              Q: Where to find the API
            </a>
          </div>
          <div id="c_4" class="collapse">
            <div class="box-body">
              <span class="text-md pull-left w-32 m-r rounded primary">A</span> 
              <p class="text-sm text-muted clear">Vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. nesciunt you probably haven't heard of them accusamus labore sustainable
              </p>
            </div>
          </div>
        </div>
        <div class="panel box no-border m-b-xs">
          <div class="box-header p-y-sm">
            <span class="pull-right label text-sm">6</span>
            <a data-toggle="collapse" data-parent="#accordion" data-target="#c_5">
              Q: How to add my router
            </a>
          </div>
          <div id="c_5" class="collapse">
            <div class="box-body">
              <span class="text-md pull-left w-32 m-r rounded dark">A</span> 
              <p class="text-sm text-muted clear">Vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. nesciunt you probably haven't heard of them accusamus labore sustainable
              </p>
            </div>
          </div>
        </div>
      </div>
      <h4 class="m-t-md text-md">Submit ticket</h4>
      <form name="form-contact" class="form-validation m-b-lg">
        <div class="row">
          <div class="col-sm-6 m-b">
            <label>Your name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="contact.name" required >
          </div>
          <div class="col-sm-6 m-b">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Enter email" ng-model="contact.email" required >
          </div>
        </div>
        <div class="form-group">
          <label>Question Subject</label>
          <select class="form-control c-select">
            <option>Website Errors</option>
            <option>Product Services</option>
            <option>Login/Signup Problem</option>
          </select>
        </div>
        <div class="form-group">
          <label>Your Question</label>
          <textarea class="form-control" rows="6" placeholder="hmm.."></textarea>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
    <div class="col-sm-4 col-md-3">
      <h4 class="m-a-0 m-b-sm text-md">Ask experts</h4>
      <div class="box">
        <ul class="list inset">
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle avatar accent">
                <span>C</span>
                <i class="away b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Chris Fox</a></div>
              <small class="text-muted text-ellipsis">Designer, Blogger</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle avatar green">
                <span>M</span>
                <i class="off b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Mogen Polish</a></div>
              <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle avatar purple">
                <span>J</span>
                <i class="busy b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Joge Lucky</a></div>
              <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle avatar warn">
                <span>F</span>
                <i class="away b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Folisise Chosielie</a></div>
              <small class="text-muted text-ellipsis">Musician, Player</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle avatar green">
                <span>P</span>
                <i class="on b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Peter</a></div>
              <small class="text-muted text-ellipsis">Musician, Player</small>
            </div>
          </li>
        </ul>
      </div>
      <div class="m-b">
        <p><i class="fa fa-fw text-muted m-r-xs fa-envelope"></i> contact@company.com</p>
        <p><i class="fa fa-fw text-muted m-r-xs fa-phone"></i> (432) 999 000</p>
        <p><i class="fa fa-fw text-muted m-r-xs fa-clock-o"></i> Mon-Fri 9:00 - 16:00</p>
      </div>
    </div>
  </div>
</div>
