<div class="padding">
  <div class="p-y-lg clearfix">
    <div class="text-center">
      <h2 class="_700 m-b">Start up your Bussiness today</h2>
      <h5 class="m-b-md">We create different services for your product. 30 days guaranteed.</h5>
      <a href class="btn rounded btn-outline b-info text-info p-x-md m-y">Start Now</a>
    </div>
  </div>
  <div class="p-x-lg">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row no-gutter">
          <div class="col-sm-4 col-sm-push-4">
            <div class="box m-t-n">
              <div class="box-body text-center r-t {{app.setting.theme.primary}}">
                <h6 class="text-u-c p-v-sm m-a-0 m-t">Bussiness</h6>
                <h3 class="m-a-0 m-l m-v">
                  <sup>$</sup>
                  <span class="text-2x">69</span>
                  <span class="text-xs">/ mo</span>
                </h3>
              </div>
              <ul class="list b-t b-b m-a-0 no-radius">
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Email preview on air
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Spam testing and blocking
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> 100 GB Space
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> 200 user accounts
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Free support for two years
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-remove text-danger m-r-xs"></i> Free upgrade for one year
                  </div>
                </li>
              </ul>
              <div class="text-center p-a-md">
                <a href class="btn btn-block btn-lg danger">Start Trial</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-sm-pull-4">
            <div class="box">
              <div class="box-body text-center dker">
                <h6 class="text-u-c m-a-0 m-t">Startup</h6>
                <h3 class="m-a-0 m-l m-v">
                  <sup>$</sup>
                  <span class="text-2x">39</span>
                  <span class="text-xs">/ mo</span>
                </h3>
              </div>
              <ul class="list b-t b-b m-a-0 no-radius">
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Email preview on air
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Spam testing and blocking
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> 100 GB Space
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> 200 user accounts
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-remove text-danger m-r-xs"></i> Free support for two years
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-remove text-danger m-r-xs"></i> Free upgrade for one year
                  </div>
                </li>
              </ul>
              <div class="text-center p-a-md">
                <a href class="btn btn-block btn-lg white">Start Trial</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <div class="box-body text-center dker">
                <h6 class="text-u-c m-a-0 m-t">Enterprise</h6>
                <h3 class="m-a-0 m-l m-v">
                  <sup>$</sup>
                  <span class="text-2x">99</span>
                  <span class="text-xs">/ mo</span>
                </h3>
              </div>
              <ul class="list b-t b-b m-a-0 no-radius">
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Email preview on air
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Spam testing and blocking
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> 100 GB Space
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> 200 user accounts
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Free support for two years
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <i class="fa fa-check text-success m-r-xs"></i> Free upgrade for one year
                  </div>
                </li>
              </ul>
              <div class="text-center p-a-md">
                <a href class="btn btn-block btn-lg white">Start Trial</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
