[layout] {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; 
}

[layout=column] {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}

[layout=row] {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; 
}

[layout-wrap] {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; 
}

[layout-fill] {
  margin: 0;
  min-height: 100%;
  width: 100%; 
}

@-moz-document url-prefix() {
  [layout-fill] {
    margin: 0;
    width: 100%;
    min-height: auto;
    height: inherit; } 
}

[flex] {
  box-sizing: border-box;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; 
}

[flex-no-shrink]{
  flex-shrink: 0;
}
