<div class="main-viewport" ng-controller="page-split-controller">
	<nav class="side-main-menu">
		<div class="enduro-branding">Enduro Admin</div>
		<a class="side-main-menu-item" href="#/">Dashboard</a>

		<div class="side-main-menu-group-label">Pages</div>
		<ul class="side-main-menu-group">
			<div ng-repeat="page in pagelist">
				<li><a href="#pages/{{page.path}}">{{page.name}}</a></li>
			</div>
		</ul>

		<img class="menu-branding" src="/admin/assets/img/menu-logo.png">

	</nav>
	<div class="page-viewport">
		<div class="header-bar">
			<div class="enduro-userbox" ng-controller="logout_controller">
				<a href="#/logout" ng-click="logout()">logout</a>
			</div>
		</div>
		<div class="inner-page-viewport" ng-include="inner_page"></div>
	</div>
</div>
