<div class="panel">
	<div class="panel-body">
		<div ng-controller="cms-editor-controller">
			<div class="wedge"></div>
			<h2>{{page_name}}</h2>
			<div class="wedge"></div>
			<div ng-include="'/admin/assets/js/controls/object_control.html'" ng-init="no_frame=true"></div>
			<div class="wedge-3x"></div>
			<div class="btn btn-success" ng-click="publish()">Publish</div>

			<div ng-if="current_culture != ''">
				<ul class="culture-switcher">
					<li ng-repeat="culture in cultures track by $index">
						<span ng-click="change_culture($event)" data-culture="{{culture}}" ng-class="current_culture == culture ? 'active' : ''">{{culture}}</span>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>