<div class="blur-background"></div>
<div class="card login-card">
	<img class="login-logo" src="/assets/img/logo.png">
	<div class="card-body">

		<div>
			<h2>Login please:</h2>
			<div class="wedge-2x"></div>
		</div>

		<form ng-submit="submit()" ng-controller="login_controller">
			<div class="form-row">
				<label class="login-textfield-label">
					<input type="text" ng-model="enduro_username" required tabindex="1">
					<span>Username</span>
				</label>
			</div>
			<div class="form-row">
				<label class="login-textfield-label">
					<input type="password" ng-model="enduro_password" required tabindex="2">
					<span>Password</span>
				</label>
			</div>
			<div class="form-row">
				<div class="wedge-2x"></div>
				<button id="submit" type="submit" class="pull-right" tabindex="3">Submit</button>
			</div>
			<div class="clearfix"></div>
		</form>
	</div>
</div>